.first-nav {
    grid-column: 7 / 10;
    grid-row: 1 / 2;
    @include navigation;

    //responsive at 1200px
    @include response(xl) {
        grid-column: 6 / 10;
    }
    //responsive at 1000px
    @include response(lg) {
        grid-column: 5 / 10;
    }
    //response at 760px
    @include response(md) {
        grid-column: 4 / 10;
    }

    //response at 560px
    @include response(sm) {
        grid-column: 2 / 10;
    }
}

.second-nav {
    grid-column: 3 / 8;
    grid-row: 3 / 4;
    @include navigation;

    //responsive at 1000px
    @include response(lg) {
        grid-column: 2 / 9;
    }

    //response at 760px
    @include response(md) {
        grid-column: 1 / -1;
    }

    
}

// .dropdown {
//     display: none;
// }