.btn {
    width: 16rem;
    height: 4rem;
    text-decoration: none;
    margin: 5rem 0;
    //only for inspect
    // border: .1rem solid #000;
    position: relative;
    @include flexPosition(space-around);

    &:hover .btn-bg {
        width: 18rem;
        transition: width .2s;
        -webkit-transition: width .2s;
        -moz-transition: width .2s;
        -ms-transition: width .2s;
        -o-transition: width .2s;
    }

    &:hover .btn-text {
        color: color(secondary);
    }

    &:hover .arrow {
        transform: translateX(1rem);
        -webkit-transform: translateX(1rem);
        -moz-transform: translateX(1rem);
        -ms-transform: translateX(1rem);
        -o-transform: translateX(1rem);
    }

    &:hover .arrow-line-1 {
        width: 2rem;
    }

    &-bg {
        width: 4rem;
        height: 4rem;
        background-color: color(primary);
        border-radius: 5rem;
        position: absolute;
        left: 0;
    }

    &-text {
        font-size: size(xs);
        text-transform: uppercase;
        color: color(primary);
        z-index: 10;
    }

    .arrow {
        @include flexPosition;
        transition: transform .2s;
        -webkit-transition: transform .2s;
        -moz-transition: transform .2s;
        -ms-transition: transform .2s;
        -o-transition: transform .2s;
         
        &-line {
            height:  .2rem;
            background-color: color(secondary);
            position: absolute;
            transform-origin: right;
        }

        &-line-1 {
            //width: 2rem;
            width: 0;
            transform: translateX(-0.7rem);
            -webkit-transform: translateX(-0.7rem);
            -moz-transform: translateX(-0.7rem);
            -ms-transform: translateX(-0.7rem);
            -o-transform: translateX(-0.7rem);
            transition: width .2s;
            -webkit-transition: width .2s;
            -moz-transition: width .2s;
            -ms-transition: width .2s;
            -o-transition: width .2s;
        }

        &-line-2 {
            width: 1rem;
            transform: rotateZ(45deg);
            -webkit-transform: rotateZ(45deg);
            -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
        }

        &-line-3 {
            width: 1rem;
            transform: rotateZ(-45deg);
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
        }
    }
}