* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    //1 rem = 16px;
    //we want 1 rem = 10px;
    font-size: 62.5%;

    //response at 760px, we want 9px 9/16 per rem
    @include response(md) {
        font-size: 56.25%;
    }
    //response at 560px
    @include response(sm) {
        font-size: 50%;
    }
}

.container {
    display: grid;
    //grid columns
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    //grid rows
    grid-template-rows: repeat(4, min-content);
    //space between row
    grid-row-gap: 1.6rem;
    background-color: color(tertiary);
}